span.human-date {font-family: "Courier New";}/*发表日期字体*/

nav.navbar {background-color: #fff;}/*网站页眉背景*/

@font-face {
  font-style:normal;
  font-family: "PMINGLIU";
  src:url('../img/user/%E9%99%84%E4%BB%B6/%E9%99%84%E4%BB%B62024/PMINGLIU.ttf') format('truetype');
}/*自定义字体*/

.markdown-preview-view {padding: 40px;}/*网站页边距*/

/*a {padding: 18px 24px;}*/ /*网站名边距*/
a.internal-link.is-unresolved {padding: 0px 0px;}/*无笔记双链边距*/
a.internal-link {padding: 0px 0px;}/*双链边距*/
a.external-link {padding: 0px 0px 0px 0px;}/*超链接边距*/
a.referred {margin: 0px 0px;}/*注释被重新定位后的边距*/ 
a.footnote-backref {padding: 0px 0px;}/*注释回链符号边距*/   
/*a#fnref1 {padding: 0px 0px 0px 0px;}*//*注释1边距*/

/*以下与Obsidian设置保持一致*/

:root {--default-font: "Times New Roman", "PMINGLIU";}/*全站字体*/

body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
  --h1-color: #a61b29; /*苋菜红*/
  --h2-color: #e16723; /*陶瓷红*/
  --h3-color: #d2b42c; /*草黄*/
  --h4-color: #207f4c; /*薄荷绿*/
  --h5-color: #126e82; /*玉鈫蓝*/
  --h6-color: #9b1e64; /*苋菜紫*/

  --h1-size: 1.4em;
  --h2-size: 1.25em;

  --h1-weight: 500;
  --h2-weight: 500;

  --code-background: #fff; /*<pre>与<code>元素背景*/
  --link-external-color: #126e82; /*超链接颜色：玉鈫蓝*/
	
  text-align: justify;
  hyphens: auto;/*两端对齐*/	
}

.markdown-rendered pre {
  padding: var(--size-4-2) 0px;
  }/*<pre>元素的padding*/

p {
  font-size: 1rem;
}/*正文*/

pre {
  font-size: 1rem;
  font-family: "Times New Roman","PMINGLIU";
}/*诗歌文本*/

h1 {
  font-weight: normal;
}

h2 {
  text-indent: 18px;
  font-weight: normal;
}

h3 {
  font-weight: normal;
  text-indent:18px;
}

h4 {
  font-weight: normal;
  text-indent:18px;
}

h5 {
  text-indent:18px;
  font-weight: normal;
}

h6 {
  text-indent:18px;
}

small {
  color: #495c69;/*夏云灰*/
  font-style: normal;
  font-size: 0.9rem;
}/*小号浅黑字*/

samp {
  color: #999ea2;
  font-family: "Times New Roman", "PMINGLIU";
  font-style: normal;
  font-size: 0.8rem;
}/*极小号浅灰字*/

ins {
  color: rgb(214,168,65);
  font-style: normal;
  text-decoration: none;
  font-size: 0.9rem;
}/*小号黄字*/

kbd {
  color: #126e82;/*玉鈫蓝*/
  font-style: normal;
  font-size: 0.9rem;
  font-family: "Times New Roman", "PMINGLIU";
}/*小号蓝字*/

cite {
  color: #999ea2;
  font-family: "Courier New", "PMINGLIU";
  font-style: normal;
  font-size: 0.8rem;
}/*参考文献、日期落款*/

sup {
  color: rgb(214,168,65);
  vertical-align: super;
  font-style: normal;
  font-size: 0.8rem;
}/*上标黄字*/

sub {
  color: #126e82;/*玉鈫蓝*/
  font-style: normal;
  font-size: 0.8rem;
}/*下标蓝字*/

blockquote {
  margin: 0;
}/*引用段落缩进*/

blockquote p {
  color: #126e82;/*玉鈫蓝*/
  font-style: normal;
  font-size: 0.85rem;
}/*引用段落蓝字*/
