span.human-date {font-family: "Courier New";}/*发表日期字体*/
nav.navbar {background-color: #fff;}/*网站页眉背景*/
.markdown-preview-view {padding: 40px;}/*网站页边距*/

@import url('https://ik.imagekit.io/knzeyrs0a/PMINGLIU/result.css');
@import url('https://ik.imagekit.io/knzeyrs0a/PMingLiU/result.css');
@import url('https://ik.imagekit.io/knzeyrs0a/FSung-2/result.css');
@import url('https://ik.imagekit.io/knzeyrs0a/FSung-3/result.css');
@import url('https://ik.imagekit.io/knzeyrs0a/FSung-F/result.css');
@import url('https://ik.imagekit.io/knzeyrs0a/FSung-X/result.css');
@import url('https://ik.imagekit.io/knzeyrs0a/Antro_Vectra/result.css');
/*自定义字体*/

:root {--default-font: "Times New Roman","PMingLiU-TW","PMingLiU","FSung-2","FSung-3","FSung-F","FSung-X";}/*全站字体*/

body {

a.internal-link.is-unresolved {padding: 0px 0px;}/*无笔记双链边距*/
a.internal-link {padding: 0px 0px;}/*双链边距*/
a.external-link {padding: 0px 0px 0px 0px;}/*超链接边距*/
a.referred {margin: 0px 0px;}/*注释被重新定位后的边距*/
a.footnote-backref {padding: 0px 0px;}/*注释回链符号边距*/
svg.lucide.lucide-calendar-plus {width:0px; height:0px;} /*发表日期图标*/
.markdown-rendered pre {padding: var(--size-4-2) 0px;}/*<pre>元素的padding*/

/*以下与Obsidian设置保持一致*/

  font-family: var(--default-font);
  --h1-color: #a61b29; /*苋菜红*/
  --h2-color: #e16723; /*陶瓷红*/
  --h3-color: #d2b42c; /*草黄*/
  --h4-color: #207f4c; /*薄荷绿*/
  --h5-color: #126e82; /*玉鈫蓝*/
  --h6-color: #9b1e64; /*苋菜紫*/
  --h1-size: 1.4em;
  --h2-size: 1.25em;
  --h1-weight: 500;
  --h2-weight: 500;
  --code-background: #fff; /*<pre>与<code>元素背景*/
  --link-external-color: #126e82; /*超链接颜色：玉鈫蓝*/
  text-align: justify;
  hyphens: auto;/*两端对齐*/

/* 各级标题 */
h1 {font-weight: normal;}
h2 {font-weight: normal; margin-bottom: 100px !important;margin-top: 100px !important; padding-left: 18px;}
h3 {text-indent: 18px; font-weight: normal; margin-bottom: 100px !important;margin-top: 100px !important;}
h4 {text-indent: 18px; font-weight: normal; margin-bottom: 100px !important;margin-top: 100px !important;}
h5 {font-weight: normal;margin-top: 50px !important;}
h6 {text-indent:18px;}

/* 各类字体标签 */
p {font-size: 1rem;}/*正文*/
pre {font-size: 1rem; font-family: var(--default-font); text-indent: 0px !important;margin: 0 !important; padding: 0 !important;}/*诗歌文本*/
ins {color: rgb(214,168,65);  font-style: normal;  text-decoration: none !important;  font-size: 0.9rem;  font-family: var(--default-font);}/*小号黄字*/
samp {color: #999ea2;font-weight: 200;font-size: 0.8rem;font-family: var(--default-font);}/*极小号浅灰字*/
samp strong {font-weight: bolder;font-size: 0.8rem;}/*极小号浅灰字加粗*/
small {color: #495c69; font-style: normal; font-size: 0.9rem;}/*小号浅黑字*/
kbd {color: #126e82; font-style: normal; text-decoration: none !important;   font-size: 0.9rem;  font-family: var(--default-font);}/*小号蓝字*/
cite {color: #999ea2;  font-family: "Courier New","PMingLiU-TW";  font-style: normal; font-size: 0.8rem;}/*参考文献、日期落款*/
sup {color: rgb(214,168,65); vertical-align: super; font-style: normal; font-size: 0.8rem;}/*上标黄字*/
sub {color: #126e82;font-style: normal; font-size: 0.8rem;}/*下标蓝字*/
blockquote {margin: 0;}/*引用段落缩进*/
blockquote p {color: #126e82; font-style: normal; font-size: 0.85rem; line-height: 1.8; font-family: var(--default-font);}/*引用段落蓝字*/

/* 主页文章宽卡片 */
.card-link {display: block;  text-decoration: none;   width: 100%;   height: 100%; position: absolute;  top: 0;  left: 0;  z-index: 1;}/* 外部链接覆盖卡片 */
.header-media {position: relative; width: 100%;  height: 240px;  display: flex;  justify-content: flex-start; align-items: center; padding-left: 50px; transition: transform 0.3s ease-in-out; /* 添加点击缩放过渡效果 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  margin-bottom: 20px;  background-size: cover; background-position: center;}/* 主页文章宽卡片·卡片大框架 */
.header-media:before {content: "";  position: absolute; top: 0;  left: 0; right: 0; bottom: 0;  background: rgba(0, 0, 0, 0.2); z-index: 1;}/* 主页文章宽卡片·黑色蒙版 */ 
.text-content {position: relative;  background-color: rgba(255, 255, 255, 0.7); padding: 20px; width: 300px; z-index: 2; }/* 主页文章宽卡片·文本内容 */
.text-content h1 {color: #255359; margin: 0 0 10px 0; font-size: 1.1rem;}/* 主页文章宽卡片·文章标题 */
.text-content h1 a {color: #255359; text-decoration: none;}/* 主页文章宽卡片·文章标题超链接 */
.text-content h1 a:active {color: rgba(37, 83, 89, 0.7);}/* 主页文章宽卡片·文章标题超链接点击后变色 */
.text-content p {color: #B54434; margin: 0 0 20px 0;}/* 主页文章宽卡片·文章合集 */
.text-content p a {color: #B54434; text-decoration: none;}/* 主页文章宽卡片·文章合集超链接 */
.text-content cite {color: #B54434; margin: 0 0 20px 0; font-family: "Antro Vectra";  font-size: 0.8rem;}/* 主页文章宽卡片·日期 */
.header-media:active {transform: scale(0.9); }/* 卡片点击缩放 */

/* 合集窄卡片 */
.ncard-link { position: absolute; top: 0; left: 0; right: 0; bottom: 0; z-index: 1; }/* 外部链接覆盖卡片 */
.triangle {width: 0; height: 0; border-left: 15px solid #B54434; border-top: 10px solid transparent; border-bottom: 10px solid transparent; margin-right: 10px;}/* 三角形 */
.header-container {position: relative; display: flex;  align-items: center;  height: 130px;  overflow: hidden;}/* 合集窄卡片·卡片大框架 */
.collect-media {position: relative; width: 100%; height: 100%; display: flex; align-items: center; padding: 30px; justify-content: center; flex: 1;transition: transform 0.3s ease-in-out; /* 添加点击缩放过渡效果 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  margin-bottom: 20px;  background-size: cover;  background-position: center; overflow: hidden;}/* 合集窄卡片·背景层 */
.collect-media:before {content: "";  position: absolute; top: 0;  left: 0;  right: 0;  bottom: 0;  background: rgba(0, 0, 0, 0.2); z-index: 1;} /* 合集窄卡片·黑色蒙版 */
.collect-text {position: relative; background-color: rgba(255, 255, 255, 0.7);  padding: 5px;  width: 300px;  z-index: 2; line-height: 1.8; margin: 0; text-align: center;}/* 合集窄卡片·文本内容 */
.collect-text a {text-decoration: none;}/* 合集窄卡片·超链接 */
.collect-text h1 {color: #255359;  margin: 0 0 10px 0; font-size: 0.8rem;}/* 合集窄卡片·标题 */
.collect-text cite {color: #B54434;  margin: 0 0 20px 0;  font-family: "Antro Vectra"; font-size: 0.7rem;}/* 合集窄卡片·段落 */
.collect-media:active {transform: scale(0.9); }/* 点击时缩放效果 */

/* 分割线 */
.splitline {margin-bottom: 100px;margin-top: 100px; text-align:center; font-family:'Antro Vectra'; font-size:0.7em; color:#B54434;}
.splitline a {color:#B54434; text-decoration: none;}

.spacer {margin-bottom: 100px;}/* 空行间距 */

/* 黑白反色小注 */
.note {font-size:0.7em; color:#999ea2;}
.note ins {font-size:1em;background: black;color:white;}

/* 图片左右滑动 */
.carousel-container { width: 100%; max-width: 1200px; margin: auto; overflow-x: auto; scroll-snap-type: x mandatory; -webkit-overflow-scrolling: touch; position: relative; display: flex; justify-content: center; align-items: center; }/* 外层容器 */
.carousel { display: flex; gap: 15px; padding: 10px 0; }/* 滑动容器 */
.carousel-item { flex: 0 0 90%; scroll-snap-align: center; }/* 每个图片项 */
.carousel-item img { width: 100%; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); display: block; }
.carousel-container::before, 
.carousel-container::after { content: ''; position: absolute; top: 0; bottom: 0; width: 5%; pointer-events: none; background: none; }

/* 诗歌格式对齐 */
.poem pre {font-size: 1rem; font-family: var(--default-font); text-indent: 0px !important;margin: 0 !important; padding: 0 !important; letter-spacing: 0.12em;}
.poem sub {color: #B54434; letter-spacing: -0.4em;font-weight: 500;line-height: 0.5;vertical-align: -0.6em;}
.poem sup {line-height: 0.1}
.poem ins {font-size: 1rem; font-family: var(--default-font); text-indent: 0px !important;margin: 0 !important; padding: 0 !important;letter-spacing:  -0.3em; color:black;}
.poem cite {color: #B54434; line-height: 0.1;letter-spacing: -0.4em;vertical-align: 0.6em;}
}

/* 横滑阅读 */
.slide-indicator { position: relative; margin-top: 10px; margin-bottom: 30px; display: flex; justify-content: flex-end; align-items: center; padding-right: 0px; width: auto; }
.slide-indicator .btriangle { width: 0; height: 0; border-top: 6px solid transparent; border-bottom: 6px solid transparent; border-right: 10px solid #999ea2; animation: bounce 1s infinite alternate; }
@keyframes bounce { 0% { transform: translateX(0); } 100% { transform: translateX(-10px); } }
.slide-indicator .text { margin-left: 10px; font-size: 12px; color: #999ea2; text-align: right; }

.footnote-item {padding: 0 !important;}/*脚注*/
.footnote-item p {color: #999ea2;font-weight: 200;font-size: 0.8rem;font-family: var(--default-font);}/*脚注浅灰字*/
